/*
/*/

!hypr/
!kitty/
!.gitignore
!waybar/
!wofi/
!eww/

!Vencord/
Vencord/*
!Vencord/themes
Vencord/themes/*
!Vencord/themes/Milk.theme.css

!spicetify/
spicetify/*
!spicetify/Themes
spicetify/Themes/*
!spicetify/Themes/Milk/



